{% extends noLayout ? viewbaseLayout : "TuteiBaseBundle::pagelayout.html.twig" %}

{% block content %}

<article class="content-view-full" itemscope="itemscope" itemtype="http://schema.org/Article">
    <div class="content-type-article media">
        <header class="attribute-title media-heading">
            <h1 itemprop="name" id="main-desc">{{ ez_render_field( content, 'title' ) }}</h1>
        </header>        
        
        {% if not ez_is_field_empty( content, 'image' ) %}
        
        <div class="attribute-image pull-left" itemprop="image">
        {{ render_hinclude(
                controller( 
                    "ez_content:viewContent", 
                    {
                        "contentId": ez_field_value( content, 'image' ).destinationContentId,
                        "viewType": "line",
                        "params": { 'alias' : 'small' }
                    }
                )
          ) }}
        </div>
        
        {% endif %} 
        
        <div class="attribute-byline">
            <span class="date">
                <small><time itemprop="datePublished" datetime="{{location.contentInfo.publishedDate|date("Y-m-d")}}">{{ location.contentInfo.publishedDate|localizeddate( 'short', 'short', app.request.locale ) }}</time></small>
            </span>
        {% if not ez_is_field_empty( content, 'author' ) %}
            <span class="author" itemtype="http://schema.org/Person" itemscope="itemscope" itemprop="creator"><small>
                {{ ez_render_field(
                    content,
                    'author',
                    {
                        'template': 'eZDemoBundle:fields:ezauthor_simple.html.twig'
                    }
                ) }}</small>
            </span>
        {% endif %}
        </div>

        {% if not ez_is_field_empty( content, "intro" ) %}
        <div class="attribute-short media-body" itemprop="description">
            {{ ez_render_field( content, 'intro' ) }}    
        </div>
        {% endif %}

        {% if not ez_is_field_empty( content, "body" ) %}
        <div class="attribute-long media-body" itemprop="articleBody">
            {{ ez_render_field( content, 'body' ) }}
        </div>
        {% endif %}
        
    </div>
</article>

{% endblock %}
