{% set language = (siteaccess[ezpublish.siteaccess.name].language) %}

{% if content.versionInfo.names[language] is defined %}
    {% set name = content.versionInfo.names[language] %}
{% else %}
    {% set name = location.contentInfo.name %}
{% endif %}

{% set newWindow = content.fields.new_window[language].bool %}

{% set link = '' %}

{% if not ez_is_field_empty( content, "link_object" ) %}
    {% set link = path(relationList[content.fields.link_object[language].destinationContentId]) %}
{% elseif not ez_is_field_empty( content, "link_external" ) %}
    {% set link = content.fields.link_external[language].link %}
{% endif %}

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{{ link }}"{% if newWindow %} target="_blank"{% endif %}>{{ name }}</a>
            </h3>
        </div>
        <div class="panel-body">


            {% if content.fields.image is defined %}
            <div class="block-image">
                <a href="{{ link }}"{% if newWindow %} target="_blank"{% endif %}>
            {{ ez_render_field(content, 'image', {
                                            parameters:{ alias:'small' },
                                            attr:{ class:'block_item', custom_attribute:'value' }
                                         }
                      )
            }}</a>
            </div>
            {% endif %} 


            {% if content.fields.intro is defined %}
            <div class="block-intro">
              {{ ez_render_field( content, 'intro', { lang: language } ) }}    
            </div>          
            {% endif %}


        </div>
    </div>
</div>