{% set language = siteaccess[ezpublish.siteaccess.name].language %}

{% if content.versionInfo.names[language] is defined %}
    {% set contentName = content.versionInfo.names[language] %}
{% else %}
    {% set contentName = location.contentInfo.name %}
{% endif %}

{% set cssClasses = 'menu-link' %}
{% set extraAttributes = '' %}

{% set dropdown = dropdown|default(false) %}

{% if dropdown == true %}
    {#
    {% set extraAttributes = 
            extraAttributes ~ ' data-toggle="dropdown"' %}
    #}

    {% set cssClasses = cssClasses ~ ' dropdown-toggle disabled' %}
{% endif %}

<a href="{{ path( location ) }}" class="{{ cssClasses }}" title="{{ contentName }}"{{ extraAttributes|raw }}>{{ contentName }}{% if dropdown == true %} <span class="caret"></span>{% endif %}</a>
