{% set language = siteaccess[ezpublish.siteaccess.name].language %}

{% if content.versionInfo.names[language] is defined %}
    {% set content_name = content.versionInfo.names[language] %}
{% else %}
    {% set content_name = location.contentInfo.name %}
{% endif %}

{% set css_classes = 'menu-link' %}
{% set extra_attributes = '' %}

{% set dropdown = dropdown|default(false) %}

{% if dropdown == true %}
    {#
    {% set extra_attributes = 
            extra_attributes ~ ' data-toggle="dropdown"' %}
    #}

    {% set css_classes = css_classes ~ ' dropdown-toggle disabled' %}
{% endif %}

<a href="{{ path( location ) }}" class="{{ css_classes }}" title="{{ content_name }}"{{ extra_attributes|raw }}>{{ content_name }}{% if dropdown == true %} <span class="caret"></span>{% endif %}</a>
