{# includes items with priority higher than 100
   TODO: create settings for this, like class filter  #}

{% for item in list.searchHits %}
<li>{{ render(
                   controller(
                       'ez_content:viewLocation',
                       {
                           'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
                           'viewType': 'menu_item',
                           'params': {}
                       }
                   )
               ) }}</li>
{% endfor %}


{% if current_user.login != 'anonymous' %}
    <li><a href="{{ "/user/logout" }}">{{ 'Logout'|trans }}</a></li>
    <li><a href="{{ "/content/edit/" ~ current_user.content.versionInfo.contentInfo.id }}">{{ 'Change profile'|trans }} ( {{ current_user.login }} )</a></li>
{% else %}
    <li><a href={{ "/user/login" }}>{{ 'Log in'|trans }}</a></li>
    <li><a href={{ "/user/register" }}>{{ 'Register'|trans }}</a></li>
{% endif%}
