{# includes items with priority higher than 100
   TODO: create settings for this, like class filter  #}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes</a>
    <ul class="dropdown-menu">
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/bootstrap-theme.min.css') }}">Default</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/amelia/theme.css') }}">Amelia</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/cerulean/theme.css') }}">Cerulean</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/cosmo/theme.css') }}">Cosmo</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/cyborg/theme.css') }}">Cyborg</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/dark/theme.css') }}">Dark</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/flatly/theme.css') }}">Flatly</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/geo/css/theme.css') }}">Geo</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/journal/theme.css') }}">Journal</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/readable/theme.css') }}">Readable</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/red/theme.css') }}">Red</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/simplex/theme.css') }}">Simplex</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/slate/theme.css') }}">Slate</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/spacelab/theme.css') }}">Spacelab</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/united/theme.css') }}">United</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/yeti/theme.css') }}">Yeti</a>
        </li>
    </ul>
</li>

{% for item in list.searchHits %}
<li>{{ render(
                   controller(
                       'ez_content:viewLocation',
                       {
                           'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
                           'viewType': 'menu_item'
                       }
                   )
               ) }}</li>
{% endfor %}


{% if current_user.login != 'anonymous' %}
<li><a href="{{ "/user/logout" }}">{{ 'Logout'|trans }}</a></li>
<li><a href="{{ "/content/edit/" ~ current_user.content.versionInfo.contentInfo.id }}">{{ 'Change profile'|trans }} ( {{ current_user.login }} )</a></li>
{% else %}
<li class="dropdown">
    <a href="{{ "/user/login" }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'Log in'|trans }}</a>
    <ul class="dropdown-menu pull-right">
        <li>
            <div class="navbar-form">

                <form action="{{ "/user/login" }}" method="post">

                    <div>
                        <label for="id1">Username</label><div class="labelbreak"></div>
                        <input type="text" tabindex="1" value="" id="id1" name="Login" size="10" class="halfbox">
                    </div>
                    <div>
                        <label for="id2">Password</label><div class="labelbreak"></div>
                        <input type="password" tabindex="1" value="" id="id2" name="Password" size="10" class="halfbox">
                    </div>
                    <div class="buttonblock">
                        <input type="submit" tabindex="1" value="Login" name="LoginButton" class="defaultbutton">
                        <input type="submit" tabindex="1" value="Sign Up" name="RegisterButton" class="button">
                    </div>

                    <input type="hidden" value="" name="RedirectURI">
                </form>

            </div>


        </li>
    </ul>
</li>
<li><a href={{ "/user/register" }}>{{ 'Register'|trans }}</a></li>
{% endif%}
